# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
.idea
.vscode/**
*.*~
*.log
cache

!.vscode/settings.json

**/node_modules
**/build
**/dist
*.pbf
**/Close
**/js-obfuscate
**/.vscode

.husky

**/.npmrc

server-data/
server-data*

/src/services/client/out
/src/services/client/docs
/src/services/server/out
/src/services/server/docs
